
<div class="header">
  <img src="logo.png" alt="Century Enka Logo" class="logo" />
  <h1 class="title">Century Enka Limited</h1>
</div>
<div class="container">
  <aside class="sidebar">
    <ul id="steps">
        <li class="step-item"
        *ngFor="let step of steps"
        [class.active]="currentStep?.step === step.step"
        (click)="showStep(step)">
      {{ step.label }}
    </li>
    
    </ul>
  </aside>
  <main class="content">
    <div *ngIf="currentStep?.step === 1" class="step step-1 active">
      <h2>Step 1: Planned Quantity</h2>
      <label>NYFY HT Yarn Quantity:</label>
      <input type="number" [(ngModel)]="fabricCat1" placeholder="922.83"><br>
      <label>PTCF SPG Quantity:</label>
      <input type="number" [(ngModel)]="fabricCat2" placeholder="3466.16"><br>
      <button (click)="nextStep()">Next</button>
    </div>
    <div *ngIf="currentStep?.step=== 2" class="step step-2">
      <h2>Step 2: Plant Capacity</h2>
      <label>Electricity Capacity:</label>
      <input type="number" [(ngModel)]="machine1Cap" placeholder="0"><br>
      <label>Compress Air Capacity:</label>
      <input type="number" [(ngModel)]="machine1Occ" placeholder="0"><br>
      <button (click)="previousStep()">Back</button>
      <button (click)="nextStep()">Next</button>
    </div>
    <div *ngIf="currentStep?.step=== 3" class="step step-3">
      <h2>Step 3: BOM Preparation</h2>
      <label>Steam Quantity:</label>
      <input type="number" [(ngModel)]="rawMaterial1" placeholder="0"><br>
      <label>Raw Water Quantity:</label>
      <input type="number" [(ngModel)]="rawMaterial2" placeholder="0"><br>
      <button (click)="previousStep()">Back</button>
      <button (click)="nextStep()">Next</button>
    </div>
    <div *ngIf="currentStep?.step=== 4" class="step step-4">
      <h2>Step 4: Substandard Fabric</h2>
      <label>Substandard Fabric 1:</label>
      <input type="number" [(ngModel)]="subFabric1" placeholder="0"><br>
      <label>Substandard Fabric 2:</label>
      <input type="number" [(ngModel)]="subFabric2" placeholder="0"><br>
      <button (click)="previousStep()">Back</button>
      <button (click)="nextStep()">Next</button>
    </div>
    <div *ngIf="currentStep?.step=== 5" class="step step-5">
      <h2>Step 5: Fuel & Power</h2>
      <label>Fuel Requirement:</label>
      <input type="number" [(ngModel)]="fuelReq1" placeholder="0"><br>
      <label>Power Requirement:</label>
      <input type="number" [(ngModel)]="powerReq1" placeholder="0"><br>
      <button (click)="previousStep()">Back</button>
      <button (click)="nextStep()">Next</button>
    </div>
    <div *ngIf="currentStep?.step=== 6" class="step step-6">
      <h2>Step 6: Packaging Cost</h2>
      <label>NTCF Dipping Cost:</label>
      <input type="number" [(ngModel)]="packagingCost1" placeholder="0"><br>
      <label>NICF Dipping Cost:</label>
      <input type="number" [(ngModel)]="packagingCost2" placeholder="0"><br>
      <button (click)="previousStep()">Back</button>
      <button (click)="nextStep()">Next</button>
    </div>
    <div *ngIf="currentStep?.step=== 7" class="step step-7">
      <h2>Step 7: Commission Charges</h2>
      <label>Commission on Sales 1:</label>
      <input type="number" [(ngModel)]="commission1" placeholder="0"><br>
      <label>Commission on Sales 2:</label>
      <input type="number" [(ngModel)]="commission2" placeholder="0"><br>
      <button (click)="previousStep()">Back</button>
      <button (click)="nextStep()">Next</button>
      <div class="action-buttons">
        <button (click)="onSubmit()">Submit</button>
        <button (click)="onLogout()">Logout</button>
      </div>
    </div>
    <div *ngIf="currentStep?.step=== 8" class="step step-8">
      <h2>Step 8: Processing Charges</h2>
      <label>Contractual Team Expenses 1:</label>
      <input type="number" [(ngModel)]="contractual1" placeholder="0"><br>
      <label>Contractual Team Expenses 2:</label>
      <input type="number" [(ngModel)]="contractual2" placeholder="0"><br>
      <button (click)="previousStep()">Back</button>
      <button (click)="nextStep()">Next</button>
      <div class="action-buttons">
        <button (click)="onSubmit()">Submit</button>
        <button (click)="onLogout()">Logout</button>
      </div>
    </div>
    <div *ngIf="currentStep?.step=== 9" class="step step-9">
      <h2>Step 9: Salaries Overhead</h2>
      <label>Employees in Department 1:</label>
      <input type="number" [(ngModel)]="employees1" placeholder="0"><br>
      <label>Employees in Department 2:</label>
      <input type="number" [(ngModel)]="employees2" placeholder="0"><br>
      <button (click)="previousStep()">Back</button>
      <button (click)="nextStep()">Next</button>
      <div class="action-buttons">
        <button (click)="onSubmit()">Submit</button>
        <button (click)="onLogout()">Logout</button>
      </div>
    </div>
      <div *ngIf="currentStep?.step=== 10" class="step step-10">
        <h2>Step 10: Budget Summary</h2>
        <div class="summary-container">
          <table id="summary-table">
            <thead>
              <tr>
                <th>1. Planned Quantity</th>
                <th>2. Plant Capacity</th>
                <th>3. BOM Preparation</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p>NYFY HT Yarn Quantity: {{ fabricCat1 || '' }}</p>
                  <p>PTCF SPG Quantity: {{ fabricCat2 || '' }}</p>
                </td>
                <td>
                  <p>Electricity Capacity (Machine 1): {{ machine1Cap || '' }}</p>
                  <p>Compress Air Capacity (Machine 2): {{ machine1Occ || '' }}</p>
                </td>
                <td>
                  <p>Steam Quantity: {{ rawMaterial1 || '' }}</p>
                  <p>Raw Water Quantity: {{ rawMaterial2 || '' }}</p>
                </td>
              </tr>
              <tr>
                <th>4. Substandard Fabric</th>
                <th>5. Fuel & Power</th>
                <th>6. Packaging Cost</th>
              </tr>
              <tr>
                <td>
                  <p>Substandard Fabric Produced at Stage 1: {{ subFabric1 || '' }} Kg</p>
                  <p>Substandard Fabric Produced at Stage 2: {{ subFabric2 || '' }} Kg</p>
                </td>
                <td>
                  <p>Fuel Requirement of Machine 1: {{ fuelReq1 || '' }} Liters</p>
                  <p>Power Requirement of Machine 1: {{ powerReq1 || '' }} kWh</p>
                </td>
                <td>
                  <p>NTCF Dipping Cost: {{ packagingCost1 || '' }}</p>
                  <p>NICF Dipping Cost: {{ packagingCost2 || '' }}</p>
                </td>
              </tr>
              <tr>
                <th>7. Commission Charges</th>
                <th>8. Processing Charges</th>
                <th>9. Salaries Overhead</th>
              </tr>
              <tr>
                <td>
                  <p>Commission on Sales 1: {{ commission1 || '' }} %</p>
                  <p>Commission on Sales 2: {{ commission2 || '' }} %</p>
                </td>
                <td>
                  <p>Contractual Team Expenses 1: {{ contractual1 || '' }}</p>
                  <p>Contractual Team Expenses 2: {{ contractual2 || '' }}</p>
                </td>
                <td>
                  <p>Number of Employees in Department 1: {{ employees1 || '' }}</p>
                  <p>Number of Employees in Department 2: {{ employees2 || '' }}</p>
                </td>
              </tr>
            </tbody>
          </table>
          <button (click)="exportToExcel()">Export to Excel</button>
        </div>
        <button (click)="previousStep()">Previous</button>
        <div class="action-buttons">
          <button (click)="onSubmit()">Submit</button>
          <button (click)="onLogout()">Logout</button>
        </div>
      </div>
    </main>
  </div>
  