<p>sales/purchase/manufacturing/manager</p>
<div class="login-wrapper">
  <div class="login-container">
    <h2>Login</h2>
    <form (submit)="login()">
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required />

      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required />

      <button type="submit">Login</button>
    </form>
  </div>
</div>

      <!-- <select id="roleSelect" [(ngModel)]="username" name="username" required>
        <option value="sales">Sales</option>
        <option value="purchase">Purchase</option>
        <option value="manufacturing">Manufacturing</option>
        <option value="manager">Manager</option>
      </select> -->
  